/* Css da tela Principal cadastro e listagem de aluno */
body{
    margin: 0;
    padding: 0;
}

.principal{
    width: 100%;
    height: 100%;
    margin: 0%;
}

.cabecalho{
    width: 100%;
    margin: 0%; 
    display: block;
    height: 40px;
    background-color: #83e6e6;
}
.nome-do-sistema{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    display: block;
    font-weight: bold;
    
}

.boas-vindas{
    display: block;
}
.texto-boas-vindas{
    color: #83e6e6;
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;
    
}

.cadastra-aluno {
    display: inline-block;
    background-color:#146F6F;
    width: 40%;
    height: 25%;
    float: left;
    margin: 90px  2px 100px 90px;
    border: #FFFFFF;
    border-radius: 10px;
}
.lista-aluno {
    display: inline-block;
    background-color: #146F6F;
    width: 40%;
    height: 25%;
    float: right;
    margin: 90px  90px 100px 2px;
    border: #FFFFFF;
    border-radius: 10px;
}

.titulo-cadastra{
    text-align: right;
    margin: 16% 8% 5% 5%;
    font-size: 22px;
    color: white;
    
}

.titulo-lista{
    text-align: right;
    margin: 16% 8% 5% 5%;
    font-size: 22px;
    color: white;
}

#titleHome{
    margin-left: 67%;
}

.centro{
    display: block;
    border: red;    
    border-style: solid;
    height: 100%;
    margin: 0%;    
    position: fixed;
}
  
.rodape{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #83e6e6;
    margin: 0%;
    height: 40px;
    font-weight: bold;
    display: block;
    
}

.texto-rodape{
  
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
  
}