body{
    margin: 0;
    padding: 0;
}

.principal{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: block;
    
}

.cabecalho{
    width: 100%;
    margin: 0%; 
    display: block;
    height: 40px;
    background-color:#168E95;
    padding-top: 5px;
}

.nome-do-sistema{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.titulo-cadastrar{
    display: block;
    color: #2CB7C4;
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.form-cadastro{

    margin: 15px;
    float: left;
    width: 70%;
}
#dataNascimento{
    width: 50%;
    margin-left: 0%;    
}


