.header{
    width: 100%;
    margin: 0%; 
}
.bg-primary {
    color: white !important;
}
#numero-list{
    width: 10%;
}
#nome-list{
    width: 40%;
}
#situacao-list{
    width: 30%;
}
#editar-list{
    width: 10%;
}
#deletar-list{
    width: 10%;
}
#buscar{
    width: 35rem;
}
#botao-voltar{
    width: 13rem;
    float: right;
    font-size: 1.125rem;  
    margin-bottom: 3%;
    margin-top: 5rem;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #2CB7C4;
    margin: 0%;
    height: 1.875rem;
    font-weight: bold;
    display: table-row;
    padding-top: 0.125rem;    
}
.texto-rodape{  
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Candara';   
}