body{
    margin: 0;
    padding: 0;
}

.container-flex{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: block;
    
}

.header{
    width: 100%;
    margin: 0%; 
    display: block;
    height: 40px;
    background-color:#2CB7C4;
    padding-top: 5px;
}

.nome-do-sistema{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.titulo-listar{
    display: block;
    color: #2CB7C4;
    font-size: 35px;
    margin: 3% auto 3% auto;    
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
} 
#numero-list{
    width: 10%;
}
#nome-list{
    width: 40%;
}
#situacao-list{
    width: 30%;
}
#editar-list{
    width: 10%;
}
#deletar-list{
    width: 10%;
}
.content{
    /*margin: 5% 3% auto 3%;*/
}
#list-aluno{
    margin: 3% auto auto auto;
    width: 70%;
}
#img-delete{

}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #2CB7C4;
    margin: 0%;
    height: 30px;
    font-weight: bold;
    display: table-row;
    padding-top: 2px;    
}
.texto-rodape{  
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;   
}