body{
    margin: 0;
    padding: 0;
}
.principal{
    width: 100%;
    height: 100%;
    margin: 0%; 
    background-color: #F4F4F4;
    display: table;
}
.nome-do-sistema{
    margin:70px auto 5px auto;
    text-align: center;
    font-size: 35px;
    display: table;
    color: #2CB7C4;
    text-shadow: 2px 2px 6px #aaaaaa;
    font-weight:lighter;
    font-family: 'Times New Roman', Times, serif;
}
#botao{
    float: right;
    width: 150px;
    display: block;
    
}
.radio{
    display: inline-block;
}

.tela-central{
background-color: rgb(255, 255, 255);
margin: 15px auto auto auto;
height: 270px;
width: 500px;
box-shadow: 5px 5px 20px 5px #aaaaaa;
border-radius: 5px;
padding: 30px 20px 20px 20px ;
}
