.principal{
    width: 100%;
    height: 100%;
    margin: 0%; 
    background-image: url('../imagens/fundo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: table;
}
.nome-do-sistema{
    margin:70px auto 5px auto;
    text-align: center;
    font-size: 55px;
    display: table;
    color: #2CB7C4;
    font-weight: lighter;
    font-family: 'Candara';
}
#botao{
    float: right;
    width: 150px;
    display: block;
    
}
.radio{
    display: inline-block;
}

.tela-central{
background-color: rgb(255, 255, 255);
margin: 15px auto auto auto;
height: 270px;
width: 500px;
box-shadow: 5px 5px 20px 5px #aaaaaa;
border-radius: 5px;
padding: 30px 20px 20px 20px ;
}
