@font-face{
    font-family: 'Candara';
    src: url('../fontes/Candara.ttf')
}
body{
    margin: 0;
    padding: 0;
}
.container-flex{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: block;  
}
.titulo{
    display: block;
    color: #2CB7C4;
    font-size: 2.1875rem;
    margin: 1.25rem auto 1.5rem auto;  
    font-family: 'Candara';
} 
.cor-navbar{
    background-color: #1EBEC8 !important;
}
.nome-do-sistema{
    color: white !important;
    font-family: 'Candara';
}
.content{
    margin: 2rem 1.5rem auto 1.5rem;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #1EBEC8;
    margin: 0%;
    height: 1.875rem;
    display: table-row;
    padding-top: 0.125rem;    
}
.texto-rodape{  
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Candara';   
}
/*#login{
    position:absolute;
	left:28%;
	top:21%;
}

#inputLimpar{
    margin-left: 26.4%;
}*/
