#title-card{
    text-align: left;
    font-size: 1.56rem;
    color: white;
    font-family: 'Candara';
    background-color: #168E95;
}
.text-card{
 font-size: 1.25rem;   
 padding-left: 2%;
 color:#168E95;
 cursor: hand;
}

#form-card{
   padding: 1%;
   text-align: left;
}

.content{
    display: block;
    width: 100%;
    margin: 0%;
    text-align: center;   
}
#botao-confirmar{
    background-color: #168E95;
    float: right;
    margin-bottom: 1%;
    width: 20%;
}
#botao-cancelar{
    float: left;
    margin-bottom: 1%;
    width: 20%;
}