@font-face{
    font-family: 'Candara';
    src: url('../fontes/Candara.ttf')
}

body{
    margin: 0;
    padding: 0;
}

.content-fluid{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: table;
}

.header{
    width: 100%;
    margin: 0%; 
}

.cor-navbar{
    background-color: #1EBEC8 !important;
}

#img-adm{
    float: right;
}

.nome-do-sistema{
    color: white !important;
    font-family: 'Candara';
}

.boas-vindas{
    display: block;
}
.texto-boas-vindas{
    color: #2CB7C4;
    font-size: 2.1875rem;
    margin-left: 40px;
    margin-top: 20px;    
    font-family: 'Candara';
}

.card-aluno {
    display: inline;  
    float: left;
    border: #FFFFFF;
    border-radius: 10px;
}
.card-instrutor {
    display: inline;
    float: left;
    border: #FFFFFF;
    border-radius: 10px;
}
.card-financeiro{
    display: inline;    
    float: left;
    margin-right: 50%;
    border:#FFFFFF;
    border-radius: 10px;   
}

#title-card{
    text-align: left;
    font-size: 1.56rem;
    color: white;
    font-family: 'Candara';
    background-color: #168E95;
}
.text-card{
 font-size: 1.25rem;   
 padding-left: 2%;
 color:#168E95;
 cursor: hand;
}

.text-card:hover{
    background-color: rgb(241, 245, 245);
    font-weight: bold;
}

#titleHome{
    margin-left: 67%;
}

.content{
    margin: 0%;
    width: 100%;
    height: 100%;
    display: table-row;
    border-style: solid;
}
.card-columns{
    width: 70%;
    float: none;
    margin: 5% auto auto auto;
}

.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #1EBEC8;
    margin: 0%;
    height: 30px;
    display: table-row;
    padding-top: 2px;    
}

.texto-rodape{  
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Candara';   
}