@font-face{
    font-family: 'Candara';
    src: url('../fontes/Candara.ttf')
}
.content-fluid{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: table;
}
.header{
    width: 100%;
    margin: 0%; 
}
#img-adm{
    float: right;
}
.card-aluno {
    display: inline;  
    float: left;
    border: #FFFFFF;
    border-radius: 0.625rem;
}
.card-instrutor {
    display: inline;
    float: left;
    border: #FFFFFF;
    border-radius: 0.625rem;
}
.card-financeiro{
    display: inline;    
    float: left;
    margin-right: 50%;
    border:#FFFFFF;
    border-radius: 0.625rem;
}
#title-card{
    text-align: left;
    font-size: 1.56rem;
    color: white;
    font-family: 'Candara';
    background-color: #168E95;
}
.text-card{
 font-size: 1.25rem;   
 padding-left: 2%;
 color:#168E95;
 cursor: hand;
}
.text-card:hover{
    background-color: rgb(241, 245, 245);
    font-weight: bold;
}
#titleHome{
    margin-left: 67%;
}
.card-columns{
    width: 70%;
    float: none;
    margin: 5% auto auto auto;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #1EBEC8;
    margin: 0%;
    height: 1.875rem;
    display: table-row;
    padding-top: 0.125rem;    
}
.texto-rodape{  
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Candara';   
}