@font-face {
    font-family: 'Candara';
    src: url('../fontes/Candara.ttf')
}

.titulo {
    font-weight: bold;
    text-align: center;
    display: block;
    color: #1EBEC8;
    font-size: 2.1875rem;
    margin: 1.25rem auto 1.5rem auto;
    font-family: 'Candara';
}
.header {
    width: 100%;
    margin: 0%;
}
.container-cards {
    margin: 0 10%;
}
/*Configuração do card*/
.card-menu {
	width: 350px;
	height: 150px;
	margin: 3% 0;
}

/*Título do Card*/
.menu-title {
	background-color: #1EBEC8;
	float: left;
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.icon-menus {
	font-size: 4em;
    color: white;
}
.title-menu {
    color: white;
    font-weight: bold;
    font-size: 1.9em;
}

/*Links do Card*/
.menu-lista {
	float: right;
	width: 55%;
	height: 100%;
	border-style: solid;
    border-width: 1px;
    border-color: #1EBEC8;
}

.links-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
    flex-flow: column nowrap;
    height: 100%;
}

.links-menu a {
	display: block;
    padding: 2%;
    font-size: 1.25rem;
    color: #168E95;
    text-decoration: none !important; 
}

.links-menu a:hover {
	background-color: #168E95;
	color: white;
}