body{
    margin: 0;
    padding: 0;
}

.content-fluid{
    width: 100%;
    height: 100%;
    margin: 0%;
    display: table;
}

.header{
    width: 100%;
    margin: 0%; 
    display: table-row;
    height: 40px;
    background-color:rgb(62, 226, 241);
    padding-top: 5px;
}
.nome-do-sistema{
    margin-top: 1%;
}
.nome-do-sistema{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.boas-vindas{
    display: block;
}
.texto-boas-vindas{
    color: #2CB7C4;
    font-size: 35px;
    margin-left: 40px;
    margin-top: 20px;    
    font-family: 'Times New Roman', Times, serif;
}

.card-aluno {
    display: inline;  
    width: 450px;
    height: 180px;
    float: left;
   
    border: #FFFFFF;
    border-radius: 10px;
}
.card-instrutor {
    display: inline;
    width: 450px;
    height: 180px;
    float: left;
    
    border: #FFFFFF;
    border-radius: 10px;
}
.card-financeiro{
    display: inline;
    width: 450px;
    height: 180px;
    float: right;
   
    border:#FFFFFF;
    border-radius: 10px;   
}
#title-card{
    text-align: left;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: #168E95;
}
.card:hover{
    box-shadow: 10px 10px 10px 0px #aaaaaa;
    border-radius: 5px;
}
.text-card{
 font-size: 20px;   
 padding-left: 2%;
 color:#168E95;
 cursor: hand;
}

.text-card:hover{
    background-color: rgb(241, 245, 245);
    font-weight: bold;
}

#titleHome{
    margin-left: 67%;
}

.content{
    margin: 0%;
    width: 100%;
    height: 100%;
    display: table-row;
    border-style: solid;
}
.card-columns{
    width: 70%;
    float: none;
    margin: 5% auto auto auto;
}

.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #2CB7C4;
    margin: 0%;
    height: 30px;
    font-weight: bold;
    display: table-row;
    padding-top: 2px;    
}

.texto-rodape{  
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;   
}