.bg-primary {
    color: white !important;
}
#numero-list{
    width: 10%;
}
#nome-list{
    width: 40%;
}
#situacao-list{
    width: 30%;
}
#editar-list{
    width: 10%;
}
#deletar-list{
    width: 10%;
}
#buscar{
    width: 35rem;
}
#botao-voltar{
    width: 13rem;
    float: right;
    font-size: 1.125rem;  
    margin-bottom: 3%;
    margin-top: 5rem;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../gifs/carregamento.gif') 50% 50% no-repeat white;
}